.fiche {
  width: 85%;
  margin: auto;
}

.info-logement {
  position: relative;
}

.title.fiche {
  margin: auto;
}

.title-logement {
  color: #ff6060;
  font-size: 36px;
  line-height: 51px;
}

.location-logement {
  color: #ff6060;
  font-size: 18px;
  line-height: 26px;
}

.tags-logement {
  display: flex;
}

.host-logement {
  position: absolute;
  top: 0px;
  right: 80px;
}

.img-host-logement {
  position: absolute;
  left: 0px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-left: 10px;
}

.name-host-logement {
  position: absolute;
  right: 0px;
  color: #ff6060;
  font-size: 18px;
  line-height: 26px;
  width: 93px;
  text-align: right;
}

.note-logement {
  position: absolute;
  top: 115px;
  right: 0px;
}

.collapse-fiche {
  display: flex;
  justify-content: space-between;
  margin: auto;
  list-style: none;
}

.collapse-fiche .collapse {
  width: 47%;
}
