.error-page {
  display: flex;
  flex-direction: column;
}

.error {
  color: #ff6060;
  font-size: 288px;
  line-height: 411px;
  margin: 175px auto 33px auto;
}

.alert {
  color: #ff6060;
  font-size: 36px;
  line-height: 51px;
  margin: 33px auto 91px auto;
}

.redirection {
  color: #ff6060;
  font-size: 18px;
  line-height: 26px;
  margin: 91px auto 159px auto;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .error {
    font-size: 96px;
    line-height: 137px;
    margin: 150px auto 6px auto;
  }

  .alert {
    font-size: 18px;
    line-height: 26px;
    margin: 5px auto 76px auto;
    text-align: center;
    width: 80%;
  }

  .redirection {
    font-size: 14px;
    line-height: 20px;
    margin: 76px auto 159px auto;
  }
}
